binds {
    Super+Return { spawn "kitty"; }
    Super+Shift+B { spawn "flatpak" "run" "com.vivaldi.Vivaldi"; }
    Super+Shift+M { spawn "flatpak" "run" "com.spotify.Client"; }
    Super+Shift+T { spawn "flatpak" "run" "io.typora.Typora"; }
    Super+Shift+O { spawn "flatpak" "run" "md.obsidian.Obsidian"; }
}
